<style>
	.Attributecontent_left select{width:100px}
	textarea,input{font-size:12px;}
	.Answerpart_right textarea,.Problemcontent textarea{width:90%;height:70%;border:none;padding:10px;}
	.chapterAnswer{ display:none}
</style>
<!--{{subs}}-->
<!--题目添加-->
<div class="editingarea">
    <form action="" method="post" name="subjectAddForm">	
        <div class="c_flex"><span class="c_flexible"></span></div>
        <div class="chosetitle">添加题目  <a href="#" class="deletetitle">删除</a></div>
       
    	<div class="c_editview">
        	<div class="Attribute">
                 <div class="Attributetit">题目属性</div>
                 <div class="Attributecontent">
                     <div class="Attributecontent_left">
                         <b>
                         	题型：<select remove-sub ng-model="subs.typeId" ng-options="type.id as type.realName for type in types">
                         		<!--<option ng-repeat="type in types" value="{{type.id}}">{{type.realName}}</option>-->
                           	</select>
                         </b>
                         <b>
                         	方向：<select ng-model="subs.deptId" ng-options="dept.id as dept.name for dept in departments">
                         		<!--<option ng-repeat="department in departments" value="department.id">{{department.name}}</option>-->
                           	</select>
                         </b>
                         <b>
                         	难度：<select ng-model="subs.levelId" ng-options="level.id as level.realName for level in levels">
                         		<!--<option ng-repeat="level in levels" value="{{level.id}}">{{level.realName}}</option>-->
                           	</select>
                         </b>
                         <b>
                         	知识点：<select ng-model="subs.topicId" ng-options="topic.id as topic.title for topic in topics | findTopic:subs.deptId">
                         		<!--<option ng-repeat="topic in topics">{{topic.title}}</option>-->
                            </select>
                         </b>
                         
                         <!--
						 <div class="Attributecontent_right">
                         	<a href="#" class="addAttr">添加</a>
                            <a href="#" class="leftmove">左移</a>
                         </div>
                         -->
                     </div>              
                 </div>
            </div>
            <div class="Problem">
                <div class="Attributetit">题目题干</div>
                <div>
                    <textarea name="stem" cols="80" rows="4" ng-model="subs.stem"></textarea>                              
                </div>
            </div>
            
            <!--这是单选题-->
            <div class="Answeroptions" ng-show="subs.typeId==1 ? true : false">
            	<div class="Attributetit">答案选项<em>(通过勾选每个选项下面的框可以设置正确答案)</em></div>
                <div class="c_condition">
                	<span class="icon_add"><em class="icon_r" style="float: left">添加选项</em></span>
                </div>
                <div class="Answercontent">
                	<!--选项-->
                    <div class="Answerpart">
                         <div class="Answerpart_left">
                             <p>A</p><span>
                             <input type="radio" name="answer" value="0" select-answer /></span>
                         </div>
                         <div class="Answerpart_right">
                         	<textarea name="content" ng-model="subs.choiceContent[0]"></textarea>   
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="Answerpart">
                        <div class="Answerpart_left">
                            <p>B</p><span>
                            <input type="radio" name="answer" value="1" select-answer/>
                            </span>
                        </div>
                        <div class="Answerpart_right">
                        	<textarea name="content" ng-model="subs.choiceContent[1]"></textarea>  
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="Answerpart">
                        <div class="Answerpart_left">
                            <p>C</p><span>
                            <input type="radio" name="answer" value="2" select-answer/>
                            </span>
                        </div>
                        <div class="Answerpart_right">
                        	<textarea name="content" ng-model="subs.choiceContent[2]"></textarea>  
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="Answerpart">
                        <div class="Answerpart_left">
                            <p>D</p><span>
                            <input type="radio" name="answer" value="3" select-answer/>
                            </span>
                        </div>
                        <div class="Answerpart_right">
                        	<textarea name="content" ng-model="subs.choiceContent[3]"></textarea>  
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div> 
            </div>
            
            <!--这是多选题   ng-show="typeId==2 ? true : false"-->
            <div class="Answeroptions" ng-show="subs.typeId==2 ? true : false">
                <div class="Attributetit">答案选项<em>(通过勾选每个选项下面的框打开)</em></div>
                <div class="c_condition"><span class="icon_add"><em class="icon_r" style="float: left">添加选项</em></span></div>
                <div class="Answercontent">
                      <div class="Answerpart">
                         <div class="Answerpart_left">
                             <p>A</p><span><input type="checkbox" value="0" select-answer/></span>
                         </div>
                         <div class="Answerpart_right">
                         	<textarea name="content" ng-model="subs.choiceContent[0]"></textarea> 
                         </div>
                         <div class="clear"></div>
                      </div>
                    <div class="Answerpart">
                        <div class="Answerpart_left">
                            <p>B</p><span><input type="checkbox" value="1" select-answer/></span>
                        </div>
                        <div class="Answerpart_right">
                        	<textarea name="content" ng-model="subs.choiceContent[1]"></textarea> 
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="Answerpart">
                        <div class="Answerpart_left">
                            <p>C</p><span><input type="checkbox" value="2" select-answer/></span>
                        </div>
                        <div class="Answerpart_right">
                        	<textarea name="content" ng-model="subs.choiceContent[2]"></textarea> 
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="Answerpart">
                        <div class="Answerpart_left">
                            <p>D</p><span><input type="checkbox" value="3" select-answer/></span>
                        </div>
                        <div class="Answerpart_right">
                        	<textarea name="content" ng-model="subs.choiceContent[3]"></textarea> 
                        </div>
                        <div class="clear"></div>
                    </div>
                      <div class="clear"></div>
                </div>
            </div>
            
            <!--这是简答题-->
            <div class="Problem" ng-show="subs.typeId==3 ? true : false">
                <div class="Attributetit">答案</div>
                <div class="Problemcontent">
                	<textarea name="answer" ng-model="subs.answer"></textarea> 
                </div>
            </div>
            
            <div class="Problem">
                <div class="Attributetit">答案解析</div>
                <div class="Problemcontent">
                	<textarea name="analysis" ng-model="subs.analysis"></textarea> 
                </div>
            </div>
            
            <div class="Problem">
                <div class="fistproblm"><span>1.</span><a href="#"></a></div>
                <div class="Problemcontent"></div>
            </div>
            
            <div class="btn_left">
                <span class="btnL">
                	<em class="btnR saveContinue" ng-click="save()">保存并继续</em>
                </span>
                <span class="btnL saveClose">
                	<em class="btnR" ng-click="saveAndClose()">保存并关闭</em>
                </span>
            </div>
        </div>
    </form>
</div>

<!--<form action="" enctype="application/x-www-form-urlencoded"></form>-->