/*NewBalance  CSS文件*/
*{
	margin: 0;
	padding: 0;
}
body,ul,li,p{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","宋体";
	font-size: 14px;
	color: #ffffff;
}
img{
	border: none;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	color: red;
}
ul li{ 
	list-style: none;
}
#header{
	width: 100%;
	height: 54px;
	background-color: #232323;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#header #logo{
	float: left;
	margin-left: 0;
	margin-top: 0;
}
#header #nav{
	float: left;
	margin-left: 30px;
	margin-top: 0px;
}
#nav ul li{
	float: left;
	line-height: 54px;
	margin-right: 44px;
}
#header #search{
	width: 347px;
	float: right;
	margin-right: 20px;
	margin-top: 8px;
	background: url(../img/bg1.png)no-repeat;
}
#search input{
	width: 254px;
	height: 36px;
	margin-left: 30px;
	border: none;
	background-color: #E7E7E7;
	color: #B4B4AF;
}
#header #find{
	float: right;
	margin-right: 20px;
	margin-top: 0px;
}
#ad{
	width: 100%;
	height: 475px;
	text-align: center;/*兼容IE老版本*/
	background: #D4D3CF;
	position: relative;

}
#circle{
	position: absolute;
	right: 50%;
	bottom: 10px;
	z-index: 1;
}
#circle ul li{
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 5px;
	line-height: 16px;
	text-align: center;
	background: #3e3e3e;
}
#circle ul .cur{
	background: orangered;
}
#circle ul li:hover{
	background: orangered;

}
#circle ul li a{	
	font-size: 12px;
	font-family: arial;
	color: white;
}
#main{
	width: 1090px;
	margin: 0 auto;
	background-color: #EDEDED;
}
.product{
	width: 520px;
	height: 280px;
	margin-left: 16px;
	margin-bottom: 14px;
	float: left;
}
.maxproduct{
	float: left;
	margin-left: 10px;
	float: left;
}
#footer{
	width: 100%;
}
.help{
	width:876px;
	margin:0 auto;
}
.help ul li{
	float: left;
	margin:10px 24px;
	padding: 20px;
}
.help ul li p{
	line-height: 34px;
}
/*第二个li下面的p内容字体靠右*/
.help ul li:nth-child(2) p{
	text-align: right;	
}
.help ul li:nth-child(3) p:first-child{
	/*text-indent: 7px;*/
	margin-left: 7PX;
}
.help ul li .num span{
	display: inline;
	font-size: 12px;
	color: red;
	text-align: center;
	border: 1px solid red;
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 5px;
	margin-left: 10px;
}
.help ul li p a{
	color: #000;
}
.help ul li p a:hover{
	color: #D60125;
}
.footer_icon{
	width: 100%;
	border: 1px solid #B4B4AF;
}
.copyright{
	width: 290px;
	margin: 0 auto;
	/*border: 1px solid firebrick;*/
}
.copyright span{
	vertical-align: top;
	color: #000000;
}
.copyright span:first-child{
	margin-right: 45px;
}
/*广告*/
#fixed-ad{
	width: 160px;
	/*height: 80px;*/
	background-color: gold;
	position: fixed;
	/*top:300px;*/
	top: 60%;
	left: 0px;
}
#fixed-ad p{
	line-height: 24px;
	color: white;	
	margin-left: 15px;		
}
#fixed-ad p img{
	width: 120px;
	height: 120px;
}
